@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --green: hsl(75, 94%, 57%);
    --neutral-white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.attribution {
        font-size: 11px;
        text-align: center;
}

.attribution a {
        color: hsl(228, 45%, 44%);
}

body {
   font-family: "Inter", sans-serif; 
   font-size:14px;
   background-color: var(--off-black);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: calc(100vh - 1px);
   padding: 2rem;
}

/* container styling */

.container {
   background-color: var(--dark-grey);
   color:var(--neutral-white);
   border-radius: 1rem;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   min-width: 375px;
}

/* container styling */

/* image styling */ 

img {
    border-radius: 5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 125px;
    height: 125px;
    height: auto;

}

/* image styling */

/* headings styling */

h1,h2 {
    line-height: 2.25rem;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 500;
    color:var(--green);
    font-size: 1rem;
}

h3 {
    line-height: 3rem;
    font-weight: 300;
    font-size: 0.8rem;
}

/* headings styling */

/* list styling */

ul {
    list-style: none;
    width: 100%;
}

li {
    text-align: center;
    font-weight: 700;
    transition: 0.1s;
    line-height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--grey);
    color: var(--neutral-white);
    margin:1rem;
    padding:1rem;
}


li:hover {
    color:var(--off-black);
    background-color: var(--green);
    cursor: pointer;
    transition: 0.1s;
}

/* list styling */

/* footer styling */

.attribution {
    padding-top: 2rem;
    color: var(--neutral-white);
}

/* footer styling */